@font-face {
    font-family: "MyFont";
    src: url('./Faradilla - Regular.otf') format('otf');
    font-weight: 600;
    font-style: normal;
}

.hello {
    color: red;
    font-family: "MyFont";
    background: url(./logo.svg);
}