* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
  }
  
  /* Create three equal columns that floats next to each other */
  .column {
    float: left;
    width: 20%;
    padding: 15px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  .participant_video {
    width: 180px;
    height: auto;
}

  /* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
  @media screen and (max-width:1024px) {
    .column {
      width: 25%;
    }
  }

  @media screen and (max-width:640px) {
    .column {
      width: 33%;
    }
  }

  @media screen and (max-width:320px) {
    .column {
      width: 50%;
    }
  }

  @media screen and (max-width:180px) {
    .column {
      width: 100%;
    }
  }

