*.mp4
*.mp3
*.flv
*.mkv
*.avi
*.mpg
*.jpg
*.xcf
*.png
*.mov
!fox*.*
!mask.png
!powerby*.*
!bird.mov
!background.jpg
!banner.png
!_4speakers.mp4
!bg.jpg
!logo.jpg
!obama.mp4
!background.mp4
!logo.mp4
!speaker.mp4
*.dmg
